<launch>
    <arg name="my_world" value="$(find chessbot_gazebo)/worlds/chess_default.world"/>
    
    <!-- Nodes Definition -->
     
    <!-- Gazebo Files  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg my_world)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <arg name="model_name" value = "pawn" /> 
     <param name="robot_description" command="xacro $(find chessbot_robot)/urdf/irb140.xacro" />

    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" output="screen"
     args="-urdf -model robot_abb_140 -param robot_description -x 0.35 -z 1 -Y 3.14"/> 

</launch> 
