<launch>
    <arg name="my_world" value="$(find chessbot_gazebo)/worlds/chess_default.world"/>
    
    <!-- Nodes Definition -->
     <node pkg="chessbot_gazebo" type="spawner" name="spawner_node"/> 

    <!-- Gazebo Files  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg my_world)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <arg name="model_name" value = "pawn" /> 
    <node name="piece_spawner_test" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-sdf -model pawn -file $(find chessbot_gazebo)/models/$(arg model_name)/model.sdf -x -0.44 -y -0.14 -z 1.033 -Y 3.14"/> />
</launch> 
