<?xml version="1.0"?>
<robot>
     <link name="world"/>
    <!-- link list -->
    
    <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/visual/base_link.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="abb_orange">
        <color rgba="1 0.43 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/collision/base_link.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow">
        <color rgba="0 1 1 1"/>
      </material>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    
  </link>
  <link name="link_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/visual/link_1.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="abb_orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/collision/link_1.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow"/>
    </collision>
     <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <link name="link_2">
    <visual>
      <origin rpy="0 0 0" xyz="-0.07 0 -0.352"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/visual/link_2.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="abb_orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.07 0 -0.352"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/collision/link_2.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow"/>
    </collision>
     <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <link name="link_3">
    <visual>
      <origin rpy="0 0 0" xyz="-0.07 0.065 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/visual/link_3.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="abb_orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.07 0.065 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/collision/link_3.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow"/>
    </collision>
     <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <link name="link_4">
    <visual>
      <origin rpy="0 0 0" xyz="-0.309 0 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/visual/link_4.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="abb_orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.309 0 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/collision/link_4.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow"/>
    </collision>
     <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <link name="link_5">
    <visual>
      <origin rpy="0 0 0" xyz="-0.450 0 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/visual/link_5.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="abb_orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.450 0 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/collision/link_5.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow"/>
    </collision>
     <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  <link name="link_6">
    <visual>
      <origin rpy="0 0 0" xyz="-0.515 0 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/visual/link_6.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="abb_orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.515 0 -0.712"/>
      <geometry>
        <mesh filename="package://chessbot_robot/meshes/irb140/collision/link_6.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="yellow"/>
    </collision>
     <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>

  <link name="camera_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual name="">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="">
        <color rgba="1.0 0.0 0.0 1.0"/>
        <texture filename=""/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0 0.0 0.0"/>
      </geometry>
    </collision>

    

  </link>

  <link name="tool0" />

</robot> 
